<!DOCTYPE html>
<html>
  <head>
      {% load static %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <title>{% block head_title %}{% endblock %}</title>
      <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
  <div class="container mt-4 mb-4">
      <div class="row justify-content-center">
          <div class="col-4">

          </div>
          <div class="col border shadow pe-auto py-2">
              {% block body %}
{#                  {% if messages %}#}
{#                      <div>#}
{#                          <strong>Messages:</strong>#}
{#                          <ul>#}
{#                            {% for message in messages %}#}
{#                                <li>{{message}}</li>#}
{#                            {% endfor %}#}
{#                          </ul>#}
{#                        </div>#}
{#                  {% endif %}#}
                  <div class="row">
                      {% if user.is_authenticated %}
                          <div class="col text-end">
                              <a href="{% url 'account_email' %}" role="button" class="btn btn-secondary btn-small">Change E-mail</a>
                          </div>
                          <div class="col-4 text-start">
                              <a href="{% url 'account_logout' %}" role="button" class="btn btn-secondary btn-small">Sign Out</a>
                          </div>
                      {% else %}
                          <div class="col text-end">
                                  <a href="{% url 'account_login' %}" role="button" class="btn btn-secondary btn-small">Sign In</a>
                          </div>
                          <div class="col-4 text-start">
                              <a href="{% url 'account_signup' %}" role="button" class="btn btn-secondary btn-small">Sign Up</a>
                          </div>
                      {% endif %}
                  </div>
                  {% block content %}
                  {% endblock %}
              {% endblock %}
              {% block extra_body %}
              {% endblock %}
          </div>
          <div class="col-4">

          </div>
      </div>
  </body>
</html>
