{% extends 'default.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}
News
{% endblock title%}

{% block navigation %}
    <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">{% trans 'Найти' %}</a></li>
{% endblock navigation %}

{% block isauthor %}
    {% if not is_author %}
        <button><a href="{% url 'upgrade' %}">{% trans 'Стать автором' %}</a></button>
    {% endif %}
{% endblock isauthor %}


{% block content %}

{% load cache %}

<h5>{% trans 'Категории' %}:
    {% cache 60 category %}
    {% for cat in category %}
    <a href="{% url 'category_list' cat.id %}">{{ cat.name_cat }}</a>
    {% endfor %}</h5>
{% endcache %}



    <h1>{% trans 'Все новости' %}</h1>
    <hr>
{% if posts %}
{% for post in posts %}
<div class="card">
    <h5 class="card-header">{{ post.date_time|date:'d.m.Y'}}</h5>
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'news_detail' post.id %}">{{ post.title | bad_word }}</a></h5>
        <p class="card-text">{{ post.text | truncatewords:20 | bad_word }}</p>
    </div>
</div>
<div class="card-footer mb-3 text-muted">
    <p>{% trans 'Категории' %}: {% for cat in post.category.all %}
        <a href="{{ cat.get_absolute_url }}">{{ cat }}</a>
        {% endfor %}</p>
    <a class="btn btn-primary btn-sm" href="{% url 'update_post' post.id %}" role="button">{% trans 'Редактировать' %}</a>
    <a class="btn btn-primary btn-sm" href="{% url 'delete_post' post.id %}" role="button">{% trans 'Удалить' %}</a>

</div>
{% endfor %}

{% else %}
<p>{% trans 'Новостей нет' %}</p>
{% endif %}

{% endblock content %}