{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title%}

{% block content %}

<div class="card">
    <h5 class="card-header">{{ post.date_time|date:'d.m.Y H:m'}}</h5>

    <div class="card-body">
        <h5 class="card-title"><a href="{{post.url}}" target="_blank">{{ post.title | bad_word }}</a></h5>
        <p class="card-text">{{ post.text  | bad_word }}</p>

        {% if comment != '-' %}
            <p>Комментарии:</p>
            {% for el in comment %}
                <p>{{ el.user }}: {{ el.text | bad_word }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="card-footer mb-3 text-muted">
    <p>Категории: {% for cat in post.category.all %}
                        <a href="{% url 'category_list' cat.id %}">{{ cat }}</a>
                    {% endfor %}</p>
    <p>Автор: {{ post.author }}</p>
</div>




{% endblock content %}


