{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title%}

{% block content %}

<div class="card">
    <h5 class="card-header">{{ post.date_time|date:'d.m.Y H:m'}}</h5>

    <div class="card-body">
        <h5 class="card-title"><a href="{{post.url}}" target="_blank">{{ post.title | bad_word }}</a></h5>
        <p class="card-text">{{ post.text  | bad_word }}</p>

        {% if comment != '-' %}
            <p>Комментарии:</p>
            {% for el in comment %}
                <p>{{ el.user__username }}: {{ el.text | bad_word }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="card-footer mb-3 text-muted">
    <p>Категории: {% for cat in post.category.all %}
        <a href="{% url 'category_list' cat.id %}">{{ cat }}</a>
        <a class="btn btn-primary btn-sm" href="{% url 'update_post' post.id %}" role="button">Редактировать</a>
        <a class="btn btn-primary btn-sm" href="{% url 'delete_post' post.id %}" role="button">Удалить</a>
        {% if subscriber %}
            <p>Вы подписаны на эту категорию новостей
                <a class="btn btn-primary btn-sm" href="{% url 'unsubscribe' post.id %}" role="button">UnSubscribe</a></p>
        {% else %}
            <a class="btn btn-primary btn-sm" href="{% url 'subscribe' post.id %}" role="button">Subscribe</a>
        {% endif %}
    {% endfor %}</p>
    <p>Автор: {{ post.author }}</p>
</div>

 <form method="POST">
     {% csrf_token %}
     {{ form }}
     <input type="submit" value="Add comment">
 </form>
{% endblock content %}


