{% extends 'default.html' %}

{% block title %}{% endblock title %}


{% block navigation %}
<li class="nav-item"><a class="nav-link" href="{% url 'news_list' %}">News</a></li>
{% endblock navigation%}


{% block content %}
<h4> Количество всех новостей: {{ filter.qs | length }}</h4>
<form method="GET">
    <!--<input type="date">-->
    {{ filter.form.as_p }}
    <input type="submit" value="Find"/>
</form>


{% for post in filter.qs %}
    <a href="{{ post.get_absolute_url }}" target="_blank">{{ post.text }}</a>
    <br>
{% endfor %}





{% if is_paginated %}


    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}


    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}


    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}