{% extends 'default.html' %}
{% load i18n %}

{% block title%}
    {% trans 'Новости' %}
{% endblock title %}


{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="container border shadow">
            <div class="row mt-3">
                <div class="col-2">{{ form.choices.label_tag }}</div>
                <div class="col-10">{{ form.choices }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-2">{{ form.category.label_tag }}</div>
                <div class="col-10">{{ form.category }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-2">{{ form.title.label_tag }}</div>
                <div class="col-10">{{ form.title }}</div>
            </div>
            <div class="row mt-3">
                <div class="col-2">{{ form.text.label_tag }}</div>
                <div class="col-10">{{ form.text }}</div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col text-end">
                    <input type="submit" value="{% trans 'Сохранить' %}">
                </div>
            </div>
        </div>
    </form>
{% endblock content %}